div.memberlist{
	padding: 10px;
}
.memberlist li{
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 75px;
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
}

.memberlist ul{
	padding-left: 0px;
	padding-right: 0px;
}

div.nickname{
	margin-top: 5px;
}

.pic img{
	width:48px;
	height:48px;
}

div.well{
	background-color: #f1f6fb;
	border: 1px solid #d0e5f8;
}

div.jumbotron{
	background-color: #fff4e8;
}
