@font-face{
	font-family: "redress";
	src: url('../fonts/Redressed.ttf') format('truetype');
	src: url('../fonts/Redressed.eot?#iefix') format('embedded-opentype'), url('../fonts/Redressed.woff') format('woff'), url('../fonts/Redressed.svg#Redressed') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	padding:15px;
	background-color: #b4daf0;
	background-image: url("../images/body_bg.jpg");
	background-repeat: repeat-x;
	background-position: center 0;
}