@font-face{
	font-family: "redress";
	src: url('../fonts/Redressed.ttf') format('truetype');
	src: url('../fonts/Redressed.eot?#iefix') format('embedded-opentype'), url('../fonts/Redressed.woff') format('woff'), url('../fonts/Redressed.svg#Redressed') format('svg');
	font-weight: normal;
	font-style: normal;
}

#msgcontainer{
	padding-left:10px;
	padding-right:10px;
}


#globalnav.navbar a{
	color: rgb(3, 123, 130);
}

div>table.table>tbody>tr>td{
	border-top: 0;
	border-bottom: 1px dashed #ddd;
}

div>table.table>thead>tr>td{
	border-top: 0;
	border-bottom: 1px dashed #ddd;
}